@font-face {
  font-family: "pokemon_fire_red";
  src: url("../typography/pokemon_fire_red.woff") format("woff"); }

header {
  background-color: #FF891C; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1; }

.navbar-brand {
  font-size: 3rem; }
  .navbar-brand span {
    align-self: flex-end;
    padding-left: 8px; }

.nav-link {
  text-align: right;
  font-size: 2.5rem;
  color: white; }
  .nav-link:hover {
    text-decoration: none;
    color: inherit; }

.navbar-toggler {
  font-size: 2.25rem; }
  .navbar-toggler-icon {
    color: white;
    outline: none; }

.close-button {
  display: flex;
  justify-content: center; }
  .close-button-image {
    width: 60%; }

#main-logo {
  width: 25vw; }

.offcanvas {
  background-color: rgba(255, 137, 28, 0.7);
  border-left: white solid 1px; }

.offcanvas-header {
  justify-content: flex-end;
  padding: .5rem 1rem; }

.offcanvas-body {
  padding: .5rem 1rem; }

@media (min-width: 992px) {
  .offcanvas {
    visibility: visible;
    position: relative;
    flex-grow: 0; }
  .offcanvas-end {
    max-width: 70vw; }
  .navbar-expand-lg {
    flex-grow: 0; } }

@media (max-width: 992px) {
  .offcanvas {
    width: 250px; }
  .offcanvas-start-lg {
    top: 0;
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateX(-100%); } }

body {
  min-height: 100vh;
  background-image: url(https://i.imgur.com/pOX8RjE.jpg);
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "pokemon_fire_red", sans-serif;
  font-size: 4em;
  color: white; }

.wrapper {
  display: grid;
  grid-gap: 0;
  grid-template-rows: auto 1fr 3fr 1fr;
  grid-template-areas: "header" "gauges" "content" "buttons";
  align-items: center;
  justify-items: center;
  height: 100vh; }

header {
  grid-area: header;
  align-self: start;
  width: -webkit-fill-available; }

a {
  text-decoration: none;
  color: white;
  padding: 0; }
  a:hover {
    text-decoration: none;
    color: white; }

ul {
  padding: 0;
  list-style: none; }

#pokemon-image-0 {
  width: 60%;
  max-width: 400px;
  height: auto;
  display: flex;
  justify-content: center; }
  #pokemon-image-0:hover {
    cursor: pointer; }

.loading-gif {
  width: 10vw; }

#loading-sprite-gif {
  max-width: none;
  cursor: pointer;
  height: 100%;
  width: 100%; }

.pokemon-container {
  grid-area: content;
  align-self: center;
  display: flex;
  align-items: center; }
  .pokemon-container .pokemon {
    display: flex;
    justify-content: center; }
    .pokemon-container .pokemon div *:first-child {
      display: none; }
    .pokemon-container .pokemon div *:last-child {
      display: block; }
    .pokemon-container .pokemon div canvas {
      min-width: 30vw; }

.modal, .form-control {
  color: black;
  font-size: 3rem; }

.form-control {
  background-color: white;
  border: 4px solid rgba(0, 0, 0, 0.7); }
  .form-control:focus {
    background-color: white;
    border-color: black; }

.settings {
  display: flex;
  flex-direction: column; }

.btn {
  font-size: 2.5rem;
  background-color: #4192CD;
  margin: 8px; }

.modal-content {
  background-color: #FF891C;
  border: 8px solid black; }
  .modal-content .modal-header {
    border-bottom: 4px dashed black; }
  .modal-content .modal-title {
    font-size: 3.5rem; }
  .modal-content .modal-footer {
    border-top: 4px dashed black; }

.gauge-container {
  width: 100%;
  grid-area: gauges;
  padding: 16px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-items: center; }

.gauge {
  position: relative;
  display: flex;
  flex-direction: column; }
  .gauge::-webkit-meter-bar {
    background: none;
    background-color: black; }
  .gauge::-webkit-meter-optimum-value {
    background-color: green;
    background-size: 100% 100%; }

.stat-arrow {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 25%;
  top: 50%;
  display: none; }

.fa-angles-up {
  color: red; }

.fa-angles-down {
  color: blue; }

.main-buttons {
  grid-area: buttons;
  align-items: center;
  align-self: flex-end; }
  .main-buttons .btn-primary {
    margin: 8px;
    font-size: 3.5rem; }

#play-button {
  background-color: #7ACD41;
  border: 8px solid black; }

#feed-button {
  background-color: #FF891C;
  border: 8px solid black; }

#rest-button {
  background-color: #4192CD;
  border: 8px solid black; }

.warning-icon {
  color: yellow; }

.toast {
  background-color: rgba(98, 137, 222, 0.7);
  font-size: 2rem;
  color: black;
  border: 2px solid black; }
  .toast-header {
    border-bottom: 1px dashed black;
    background-color: rgba(98, 137, 222, 0.7); }
    .toast-header strong {
      padding-left: 8px;
      color: black; }

.tooltip {
  font-family: "pokemon_fire_red", sans-serif;
  font-size: 1.25rem; }
  .tooltip .tooltip-inner {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px; }

#modal-poke-info-body {
  padding: 0;
  background-color: white; }

#modal-poke-info-header, #modal-poke-info-footer {
  background-color: red; }

.stat-list {
  list-style-type: none; }
  .stat-list .stat-name {
    font-weight: 900; }

.stats-container {
  display: grid;
  grid-template-areas: 'pokeImage pokeImage pokeImage pokeList1' 'pokeList2  pokeList2 pokeList2 pokeList2'; }
  .stats-container-image {
    grid-area: pokeImage;
    align-self: center;
    justify-self: center;
    width: 100%; }
  .stats-container-list1 {
    grid-area: pokeList1;
    border: 1px dashed black;
    padding: 8px; }
  .stats-container-list2 {
    grid-area: pokeList2;
    border: 1px dashed black; }

.stats-container-list2 > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.pokemon-stats > li {
  display: inline-block;
  margin: 0px 8px;
  text-align: center; }

.pokemon-char {
  display: grid; }

#modal-artwork-content {
  background-color: white; }

#modal-about ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, auto); }
  #modal-about ul li a {
    display: flex;
    align-items: center; }

#modal-about-body {
  padding: .5rem; }

@media (min-device-width: 683px) {
  body {
    font-size: 2em; }
  .navbar-brand {
    font-size: 2rem; }
    .navbar-brand #main-logo {
      width: 13vw; }
  .navbar-toggler {
    font-size: 1.25rem; }
  .nav-link {
    font-size: 2rem; }
  .btn {
    font-size: 1.6rem; }
  .gauge-container {
    grid-template-columns: repeat(4, auto); }
  .main-buttons .btn-primary {
    margin: 8px;
    font-size: 2.5rem; }
  .pokemon-container .pokemon div canvas {
    min-width: 15vw; }
  .modal {
    font-size: 2rem; }
  #modal-poke-info-body {
    font-size: 1.5rem; }
  .modal-content {
    border: 4px solid black; }
    .modal-content .modal-header {
      padding: .5rem 1rem; }
      .modal-content .modal-header .modal-title {
        font-size: 2.25rem; }
    .modal-content .modal-footer {
      padding: 0; }
  .form-control {
    font-size: 2rem; }
  .toast {
    font-size: 1.5rem; } }

@media (min-device-width: 1024px) {
  body {
    font-size: 1.5rem; }
  .navbar {
    padding: 0; }
  .navbar-brand {
    font-size: 1.5rem; }
    .navbar-brand #main-logo {
      width: 11vw; }
  .navbar-toggler {
    font-size: 1.75rem; }
  .nav-link {
    font-size: 1.5rem; }
  .btn {
    font-size: 1.5rem; }
  .menu {
    justify-content: flex-end; }
    .menu .navbar-nav {
      align-items: center; }
    .menu .settings {
      flex-direction: row; }
  #pokemon-image-0 {
    max-width: 15vw; }
  .pokemon-container .pokemon div canvas {
    min-width: 10vw; }
  .main-buttons .btn-primary {
    margin: 16px 64px;
    font-size: 1.75rem; }
  #play-button, #feed-button, #rest-button {
    border: 4px solid black; } }

@media (max-device-width: 683px) {
  .stats-container {
    grid-template-areas: 'pokeImage' 'pokeList1' 'pokeList2'; }
  .pokemon-char {
    grid-template-columns: repeat(2, 1fr); }
  .tooltip {
    display: none; } }

@media (min-device-width: 684px) and (max-device-width: 1024px) {
  .stats-container {
    grid-template-areas: 'pokeImage pokeImage pokeImage pokeList1' 'pokeList2 pokeList2 pokeList2 pokeList2'; }
  .pokemon-char {
    grid-template-columns: auto; }
  .tooltip {
    display: none; } }
